.content {
    background: #fff;
    padding: 2em 0 2em;
    font-family: SimHei, serif;
}

.container {
    min-width: 900px
}

.nav_guide, .nav_guide a {
    text-decoration: none;
    color: #999;
}

/* 购物车区域 */
.car_box {
    margin-top: 15px;
    border: 1px solid #e7e7e7;
}

.car_title {
    width: 100%;
    height: 40px;
    background: #f5f5f5;
}

.car_title div, .item_single div {
    float: left;
    width: 12%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.car_title .sp {
    width: 30%;
}

.car_title .gg, .item_single .sp_gg {
    width: 20%;
}

/* 商品列表区域 */
.item_list {
    margin-top: 5px;
    overflow: hidden;
}

/* 单个商品购物车详情 */
.item_single {
    border-bottom: 1px solid #e7e7e7;
    height: 115px;
}

.item_single .check_box {
    width: 30%;
}

.check_box input[type=checkbox] {
    margin-left: -20px;
    cursor: pointer;
}

.check_box img {
    width: 100px;
    height: 90px;
    vertical-align: top;
    margin-left: 10px;
    margin-top: 13px;
}

h5 {
    display: inline-block;
    margin-left: 10px;
    color: #000;
}

.item_single .sp_gg p {
    margin-bottom: -10px;
    color: #999;
}

.item_single .sp_dj span {
    font-weight: bold;
    font-family: SimHei, serif;
}

.item_single .sp_nums {
    display: inline-block;
    overflow: hidden;
}

.item_single .sp_nums span {
    display: block;
    float: left;
    height: 30px;
    line-height: 20px;
    margin-top: 10px;
    border: 1px solid #a6a6a6;
}

.sp_nums .cut_num {
    padding: 5px;
    cursor: pointer;
    margin-left: 35px;
}

.sp_nums .num {
    padding: 5px 10px;
}

.sp_nums .add_num {
    padding: 5px;
    cursor: pointer;
}

.item_single .sp_money {
    font-weight: bold;
    font-family: SimHei, serif;
    color: #d23e3e;
}

.item_single .handle p {
    font-size: 12px;
    margin-bottom: -10px;
    cursor: pointer;
}

/* 底部 */
.fixed_bottom{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    left:-4px;
}
.cart_footer {
    margin-top: 30px;
    height: 60px;
    line-height: 60px;
    background: #e5e5e5;
    padding-left: 10px;
}

.cart_toolbar div {
    float: left
}

.qx_checkbox label {
    font-weight: normal;
}

.operations a {
    padding-left: 20px;
    color: #333;
    text-decoration: none;
}

.cart_toolbar .toolbar_right {
    float: right
}

.toolbar_right div {
    padding-right: 48px
}

.amount_sum #sp_all {
    font-weight: bold
}

.price_sum #price_all {
    color: #d23e3e;
    font-weight: bold
}

.toolbar_right .js {
    padding-right: 0
}

.toolbar_right .js a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    background: #B0B0B0;
    display: block;
    text-align: center;
    width: 120px;
    user-select:none;
}

.toolbar_right .js a:hover {
    background: #f40
}